/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/behat.yml
/phpspec.yml

# Ignore /bin because it is configured in composer.json
/bin/
!/bin/.gitkeep
